    .border-black-1{
    border: 1px solid black;}
    .border-white-1{
     border: 1px solid white;}


    .border-black-2{
    border: 2px solid black;}
    .border-white-2{
     border: 2px solid white;}


    .border-black-3{
    border: 3px solid black;}
    .border-white-3{
     border: 3px solid white;}


    .border-black-4{
    border: 4px solid black;}
    .border-white-4{
     border: 4px solid white;}


    .border-black-5{
    border: 5px solid black;}
    .border-white-5{
     border: 5px solid white;}
