
/* --------- strateX-core --------- */

/* --------- padding  --------- */

/* padding  with view portwidths (vw) */

.pv-0{padding:0vw;}
.pv-1{padding:1vw;}
.pv-2{padding:2vw;}
.pv-3{padding:3vw;}
.pv-4{padding:4vw;}
.pv-5{padding:5vw;}
.pv-6{padding:6vw;}
.pv-7{padding:7vw;}
.pv-8{padding:8vw;}
.pv-9{padding:9vw;}
.pv-10{padding:10vw;}
.pv-11{padding:11vw;}
.pv-12{padding:12vw;}
.pv-13{padding:13vw;}
.pv-14{padding:14vw;}
.pv-15{padding:15vw;}
.pv-16{padding:16vw;}
.pv-17{padding:17vw;}
.pv-18{padding:18vw;}
.pv-19{padding:19vw;}
.pv-20{padding:20vw;}
.pv-21{padding:21vw;}
.pv-22{padding:22vw;}
.pv-23{padding:23vw;}
.pv-24{padding:24vw;}
.pv-25{padding:25vw;}
.pv-26{padding:26vw;}
.pv-27{padding:27vw;}
.pv-28{padding:28vw;}
.pv-29{padding:29vw;}
.pv-30{padding:30vw;}
.pv-31{padding:31vw;}
.pv-32{padding:32vw;}
.pv-33{padding:33vw;}
.pv-34{padding:34vw;}
.pv-35{padding:35vw;}
.pv-36{padding:36vw;}
.pv-37{padding:37vw;}
.pv-38{padding:38vw;}
.pv-39{padding:39vw;}
.pv-40{padding:40vw;}
.pv-41{padding:41vw;}
.pv-42{padding:42vw;}
.pv-43{padding:43vw;}
.pv-44{padding:44vw;}
.pv-45{padding:45vw;}
.pv-46{padding:46vw;}
.pv-47{padding:47vw;}
.pv-48{padding:48vw;}
.pv-49{padding:49vw;}
.pv-50{padding:50vw;}
.pv-51{padding:51vw;}
.pv-52{padding:52vw;}
.pv-53{padding:53vw;}
.pv-54{padding:54vw;}
.pv-55{padding:55vw;}
.pv-56{padding:56vw;}
.pv-57{padding:57vw;}
.pv-58{padding:58vw;}
.pv-59{padding:59vw;}
.pv-60{padding:60vw;}
.pv-61{padding:61vw;}
.pv-62{padding:62vw;}
.pv-63{padding:63vw;}
.pv-64{padding:64vw;}
.pv-65{padding:65vw;}
.pv-66{padding:66vw;}
.pv-67{padding:67vw;}
.pv-68{padding:68vw;}
.pv-69{padding:69vw;}
.pv-70{padding:70vw;}
.pv-71{padding:71vw;}
.pv-72{padding:72vw;}
.pv-73{padding:73vw;}
.pv-74{padding:74vw;}
.pv-75{padding:75vw;}
.pv-76{padding:76vw;}
.pv-77{padding:77vw;}
.pv-78{padding:78vw;}
.pv-79{padding:79vw;}
.pv-80{padding:80vw;}
.pv-81{padding:81vw;}
.pv-82{padding:82vw;}
.pv-83{padding:83vw;}
.pv-84{padding:84vw;}
.pv-85{padding:85vw;}
.pv-86{padding:86vw;}
.pv-87{padding:87vw;}
.pv-88{padding:88vw;}
.pv-89{padding:89vw;}
.pv-90{padding:90vw;}
.pv-91{padding:91vw;}
.pv-92{padding:92vw;}
.pv-93{padding:93vw;}
.pv-94{padding:94vw;}
.pv-95{padding:95vw;}
.pv-96{padding:96vw;}
.pv-97{padding:97vw;}
.pv-98{padding:98vw;}
.pv-99{padding:99vw;}
.pv-100{padding:100vw;}

/* padding with px */

.px-0{padding:0px;}
.px-1{padding:1px;}
.px-2{padding:2px;}
.px-3{padding:3px;}
.px-4{padding:4px;}
.px-5{padding:5px;}
.px-6{padding:6px;}
.px-7{padding:7px;}
.px-8{padding:8px;}
.px-9{padding:9px;}
.px-10{padding:10px;}
.px-11{padding:11px;}
.px-12{padding:12px;}
.px-13{padding:13px;}
.px-14{padding:14px;}
.px-15{padding:15px;}
.px-16{padding:16px;}
.px-17{padding:17px;}
.px-18{padding:18px;}
.px-19{padding:19px;}
.px-20{padding:20px;}
.px-21{padding:21px;}
.px-22{padding:22px;}
.px-23{padding:23px;}
.px-24{padding:24px;}
.px-25{padding:25px;}
.px-26{padding:26px;}
.px-27{padding:27px;}
.px-28{padding:28px;}
.px-29{padding:29px;}
.px-30{padding:30px;}
.px-31{padding:31px;}
.px-32{padding:32px;}
.px-33{padding:33px;}
.px-34{padding:34px;}
.px-35{padding:35px;}
.px-36{padding:36px;}
.px-37{padding:37px;}
.px-38{padding:38px;}
.px-39{padding:39px;}
.px-40{padding:40px;}
.px-41{padding:41px;}
.px-42{padding:42px;}
.px-43{padding:43px;}
.px-44{padding:44px;}
.px-45{padding:45px;}
.px-46{padding:46px;}
.px-47{padding:47px;}
.px-48{padding:48px;}
.px-49{padding:49px;}
.px-50{padding:50px;}
.px-51{padding:51px;}
.px-52{padding:52px;}
.px-53{padding:53px;}
.px-54{padding:54px;}
.px-55{padding:55px;}
.px-56{padding:56px;}
.px-57{padding:57px;}
.px-58{padding:58px;}
.px-59{padding:59px;}
.px-60{padding:60px;}
.px-61{padding:61px;}
.px-62{padding:62px;}
.px-63{padding:63px;}
.px-64{padding:64px;}
.px-65{padding:65px;}
.px-66{padding:66px;}
.px-67{padding:67px;}
.px-68{padding:68px;}
.px-69{padding:69px;}
.px-70{padding:70px;}
.px-71{padding:71px;}
.px-72{padding:72px;}
.px-73{padding:73px;}
.px-74{padding:74px;}
.px-75{padding:75px;}
.px-76{padding:76px;}
.px-77{padding:77px;}
.px-78{padding:78px;}
.px-79{padding:79px;}
.px-80{padding:80px;}
.px-81{padding:81px;}
.px-82{padding:82px;}
.px-83{padding:83px;}
.px-84{padding:84px;}
.px-85{padding:85px;}
.px-86{padding:86px;}
.px-87{padding:87px;}
.px-88{padding:88px;}
.px-89{padding:89px;}
.px-90{padding:90px;}
.px-91{padding:91px;}
.px-92{padding:92px;}
.px-93{padding:93px;}
.px-94{padding:94px;}
.px-95{padding:95px;}
.px-96{padding:96px;}
.px-97{padding:97px;}
.px-98{padding:98px;}
.px-99{padding:99px;}
.px-100{padding:100px;}
